.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name aaa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to {:href => "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to {:href => "/users/23209/edit"}
            %i.fa.fa-cog
  .groups
    = linl_to {:href => "/groups/29294/messages"}
      .group
        %p.group__group-name a
        %p.group__latest-message まだメッセージがありません
      